<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tictactoe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testtictactoe</display-name>
    <servlet-name>testtictactoe</servlet-name>
    <servlet-class>tictactoe.testtictactoe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testtictactoe</servlet-name>
    <url-pattern>/testtictactoe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloTictactoe</display-name>
    <servlet-name>HelloTictactoe</servlet-name>
    <servlet-class>com.tictactoe.test.HelloTictactoe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloTictactoe</servlet-name>
    <url-pattern>/HelloTictactoe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createuser</display-name>
    <servlet-name>createuser</servlet-name>
    <servlet-class>com.create.user.createuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createuser</servlet-name>
    <url-pattern>/createuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addplayername</display-name>
    <servlet-name>addplayername</servlet-name>
    <servlet-class>com.tictactoe.test.addplayername</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addplayername</servlet-name>
    <url-pattern>/addplayername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regisgerplayer</display-name>
    <servlet-name>regisgerplayer</servlet-name>
    <servlet-class>com.tictactoe.test.regisgerplayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regisgerplayer</servlet-name>
    <url-pattern>/regisgerplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerplayer</display-name>
    <servlet-name>registerplayer</servlet-name>
    <servlet-class>com.tictactoe.test.registerplayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerplayer</servlet-name>
    <url-pattern>/registerplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAccount</display-name>
    <servlet-name>LoginAccount</servlet-name>
    <servlet-class>com.tictactoe.test.LoginAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAccount</servlet-name>
    <url-pattern>/LoginAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rooms</display-name>
    <servlet-name>Rooms</servlet-name>
    <servlet-class>com.tictactoe.test.Rooms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rooms</servlet-name>
    <url-pattern>/Rooms</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gotoroom</display-name>
    <servlet-name>gotoroom</servlet-name>
    <servlet-class>com.tictactoe.test.gotoroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gotoroom</servlet-name>
    <url-pattern>/gotoroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Player</display-name>
    <servlet-name>Player</servlet-name>
    <servlet-class>com.tictactoe.test.Player</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Player</servlet-name>
    <url-pattern>/Player</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoom</display-name>
    <servlet-name>CreateRoom</servlet-name>
    <servlet-class>com.tictactoe.test.CreateRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoom</servlet-name>
    <url-pattern>/CreateRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSession</display-name>
    <servlet-name>UserSession</servlet-name>
    <servlet-class>com.tictactoe.test.UserSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSession</servlet-name>
    <url-pattern>/UserSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinGame</display-name>
    <servlet-name>JoinGame</servlet-name>
    <servlet-class>com.tictactoe.test.JoinGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinGame</servlet-name>
    <url-pattern>/JoinGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitCell</display-name>
    <servlet-name>SubmitCell</servlet-name>
    <servlet-class>com.tictactoe.test.SubmitCell</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitCell</servlet-name>
    <url-pattern>/SubmitCell</url-pattern>
  </servlet-mapping>
</web-app>